.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: $m-size;
    @media(min-width: $desktop-breakpoint) {
        flex-direction: row;
        margin-bottom: $l-size;
    }
}

.input-group__item {
    margin-bottom: $s-size;
    @media(min-width: $desktop-breakpoint) {
        margin: 0 $s-size 0 0;
    }
}

.input-group__item a {
    height: 50px;
    color: $blue;
    font-size: 50px;
    line-height: inherit;
    svg {
        position: relative;
        top: -14px;
    }
    @media(max-width:$desktop-breakpoint) {
        font-size: $font-size-lg;
        line-height: 1;
        color: white;
        height: inherit;
    }
}