.list-header {
    background: $dark-blue;
    border: 1px solid darken($off-white, 7%);
    color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: $s-size $m-size;
}

.list-header-title {
    width: 65%;
}

.list-header-duedate {
    width: 25%;
    text-align: center;
    min-width: 62px;
}

.list-header-amount {
    width: 10%;
    text-align: center;
    min-width: 62px;
}

.list-body {
    margin-bottom: $m-size;
    @media(min-width: $desktop-breakpoint) {
        margin-bottom: $l-size;
    }
}

.list-item {
    border: 1px solid darken($off-white, 7%);
    border-top: none;
    display: flex;
    flex-direction: column;
    color: $dark-gray;
    padding: $s-size;
    text-decoration: none;
    transition: background-color .3s ease;
    &:hover {
        background-color: $blue;
        color: white;
    }
    @media(min-width: $desktop-breakpoint) {
        flex-direction: row;
        justify-content: space-between;
        padding: $m-size;
        align-items: center;
    }
}

.list-item:nth-child(odd) {
    background-color: $off-white;
    &:hover {
        background: $blue;
        color: white;
    }
}

.list-item__wrapper {
    width: 100%;
    display: flex;
}

.list-item__title {
    width: 65%;
    span {
        margin: 0;
        word-break: break-all;
    }
}

.list-item__duedate {
    width: 25%;
    min-width: 62px;
    text-align: center;
    span {
        font-size: $font-size-sm;
    }
}

.list-item--message {
    align-items: center;
    justify-content: center;
    color: $gray;
    padding: $m-size;
    &:hover {
        background: none;
    }
}

.list-item__data {
    width: 10%;
    min-width: 62px;
    text-align: center;
    span {
        text-align: right;
        // margin: $s-size 0 0 0;
        // @media(min-width: $desktop-breakpoint) {
        //     margin: 0;
        //     padding-left: $s-size;
        // }
    }
}