.page-header {
    background: $off-white;
    padding: $l-size 0;
    margin-bottom: $l-size;
}

.page-header__title {
    margin: 0;
    font-size: 1.7rem;
    text-align: right;
    font-weight: 300;
    .page-header__titledisplay {
        padding: $s-size;
        font-weight: bold;
    }
}