.show-for-mobile {
    @media(min-width: $desktop-breakpoint) {
        display: none;
    }
}

.show-for-desktop {
    @media(max-width: $desktop-breakpoint - 0.1rem) {
        display: none;
    }
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1.0;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1.0;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}